<form [formGroup]="data" (ngSubmit)="dialogRef.close(data.value)">
    <div>
      <label for="id">ID:</label>
      <input id="id" type="number" formControlName="id">
    </div>
  
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
    </div>
  
    <div>
      <label for="length">Length:</label>
      <input id="length" type="number" formControlName="length">
    </div>
  
    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
  
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
  