<!-- <div class="time-remaining">
    <h1>Timer</h1>
    <h1> {{currentTimeInSeconds}} </h1>
</div> -->

<!-- <div class="pause-btn-container" *ngIf="showStarted">
    <button class="pause-btn" (click)="pauseShow()">{{pauseBtnText}}</button>
</div> -->

<!-- <div class="firework-arm">
    <h1>Digital Arm Firework</h1>
    <input type="checkbox" [(ngModel)]="checkArmed" (change)="armDisarmFirework($event)" />
</div>
 -->
<button class="refresh-btn" (click)="refreshData()">
    ⟳ Refresh
</button>
<div *ngFor="let launcherNode of launcherNodes" class="launcher-node">
    <app-launcher-node-card [launcherNode]="launcherNode"></app-launcher-node-card>
</div>


<!-- <div class="start-show-btn" *ngIf="!showStarted">
    <button (click)="StartTheShow()">Start Show</button>
</div>
 -->
<div *ngIf="showStarted" class="show-started-display">

    <div class="next-firing-event">
        <h1>Next Firing Event</h1>
        <h1> {{progressTime}} </h1>
    </div>

    <div class="next-firework-name">
        <h1>Next Firework</h1>
        <app-firework-countdown-card [fireworkCountdown]="nextFireworkName"></app-firework-countdown-card>
    </div>

    <h1 class="previous-firework-name">Previous Firework Name</h1>
    <div *ngFor="let firework of completedFireworks.slice().reverse()" class="previous-firework-card">

        <app-firework-countdown-card [fireworkCountdown]="firework"></app-firework-countdown-card>
    </div>
</div>