.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 20px #000;
    color: #fff;
}

.local-time-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 20px #000;
    color: #fff;
    font-size: 3rem;
}

.server-time-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: inset 0 0 20px #000;
    color: #fff;
    font-size: 3rem;
}

.start-show-btn {
    display: block;
}

.timer-display {
    text-align: center;
    margin-bottom: 20px;
}

.current-time {
    font-size:  rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.arm-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

button,
input[type="checkbox"] {
    cursor: pointer;
}
.sync-time-btn,
.refresh-btn,
.upload-btn {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: rgb(39, 22, 90);
    border: none;
    border-radius: 4px;
    color: #fff;
}
.start-show-btn,
.pause-btn {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: rgb(120, 51, 51);
    border: none;
    border-radius: 4px;
    color: #fff;
}

.timer-input {
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: rgb(39, 22, 90);
    border: none;
    border-radius: 4px;
    color: #fff;
    outline: none;
    width: 100px;
}

.launcher-nodes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.show-progress {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.next-firing-event,
.previous-fireworks {
    background-color: #151414;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 300px;
    max-width: 600px;
    text-align: center;
}

.previous-firework-card {
    margin: 10px 0;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.custom-resume {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 20px auto 0;
    max-width: 400px;
}